@import './colors';

*{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    h1, h2, h3, h4, h5, h6{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        margin-top: 0px;
    }
    i{
        &.i{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 17px;
                height: 17px;
                left: 0px;
                top: 0px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    p{
        margin-bottom: 5px;
    }
    .img-fluid{
        max-width: 100%;
    }
    body{
        margin: 0px;
        padding: 0px;
        background-color: $grey;
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: none;
            color: $red;
        }
    }
    ul{
        padding-left: 0px;
        margin: 0px;
        list-style: none;
    }
}