@import './main.scss';

@media (min-width: 320px) and (max-width: 767px) {
    .hidden-xs{
        display: none;
    }
    .show-xs{
        display: block;
    }
    .header-bar{
        padding: 20px;
        &-left{
            .logo-img{
                width: 100%;
            }
        }
        &-right{
            .user-data{
                display: block;
                text-align: right;
                span{
                    display: none;
                    &.user-avatar{
                        width: 11%;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .side-menu{
        display: none;
    }
    .content-area{
        margin-left: 0px;
        padding: 20px;
        margin-top: 62px;
        .item{
            display: block;
            .item-content{
                display: block;
                width: 100%;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0px;
                }
                &-title{
    
                }
                &-desc{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .driver-photo{
                        width: 33%;
                        margin-right: 15px;
                        img{
                            &.circle{
                                width: 100%;
                            }
                        }
                    }
                    .driver-description{
                        width: 65%;
                    }
                }
            }
        }
    }
    .search-bar-area{
        display: block;
        &-title{
            margin-bottom: 15px;
            h2{
                font-size: 18px;
                margin-bottom: 0px;
            }
            p{
                font-size: 12px;
            }
        }
        &-action{
            display: block;
            .search-input{
                margin-right: 0px;
                input{
                    padding: 10px 10px 10px 50px;
                    border-radius: 4px;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 15px;
                }
                button{
                    top: 0px;
                }
            }
            button{
                &.button-submit{
                    width: 100%;
                    i{
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
